h2 {
  font-family:courier;
  font-size: 30px;
  color: green;
}

p {
  font-family: cursive;
  font-size: 20px;
}

img {
  text-align: center;
}
.intro-box {
  border: solid blue;
  background-color: yellow;
}
